/* about.css */

/* Section principale */
h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color);
}

/* Texte */
p{
  text-align: justify;
}

/* Formation */
.formation-item {
  margin-bottom: 20px;
  border-left: 3px solid var(--primary-color);
  padding-left: 15px;
}

.formation-item h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0;
}

.formation-item span {
  color: var(--secondary-color);
  font-weight: 600;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: start;
}

.skill-item {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.skill-item:hover {
  background-color: var(--secondary-color);
}

.languages {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: none;
  text-align: center;
}

.skill:hover .languages {
  display: block;
}

/* Button */
.button:hover {
  transform: scale(1.0);
}