/* about.css */

/* Section principale */
h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color);
}

/* Texte */
div p{
  text-align: justify;
}

/* Formation */
.formation-item {
  margin-bottom: 20px;
  border-left: 3px solid var(--primary-color);
  padding-left: 15px;
}

.formation-item h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0;
}

.formation-item span {
  color: var(--secondary-color);
  font-weight: 600;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: start;
}

.skill-item {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.skill-item:hover {
  background-color: var(--secondary-color);
}

.languages {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: none;
  text-align: center;
}

.skill:hover .languages {
  display: block;
}

/* Button */
div .button{
  width: 100%;
}

.button:hover {
  transform: scale(1.0);
}

@media (max-width: 470px) {
  /* Section principale */
  h2 {
      font-size: 1.5rem;
  }

  div p {
      font-size: 0.9rem;
      line-height: 1.5;
  }

  /* Formation */
  .formation-item {
      border-left: 2px solid var(--primary-color);
      padding-left: 10px;
  }

  .formation-item h3 {
      font-size: 1rem;
  }

  .formation-item span {
      font-size: 0.9rem;
  }

  /* Skills */
  .skills-grid {
      grid-template-columns: 1fr; /* Une seule colonne */
      gap: 15px; /* Plus d'espacement entre les éléments */
  }

  .skill-item {
      font-size: 1rem;
      padding: 10px;
  }

  .languages {
      font-size: 0.8rem;
  }
}