/* Section principale */
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px; 
    background-color: var(--background-color);
}


.contact-info > div {
    flex: 1; /* Tous les enfants prennent la même largeur */
    max-width: 400px; /* Optionnel : limite la taille maximale */
}


/* Titre */
.contact-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Boutons de lien */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 30px;
}

.social-links a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.social-links a.button:hover {
    background-color: var(--secondary-color);
}
 
#contact-info {
    height: auto; 
    min-height: 300px; 
}

@media (max-width: 1024px) {
    .contact-info {
        gap: 50px;
        padding: 40px;
    }

    .contact-info > div {
        max-width: 90%;
    }

    .contact-details h2 {
        font-size: 1.8rem;
    }
}

/* Pour les écrans plus petits (mobiles) */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .contact-info > div {
        max-width: 100%;
        text-align: center;
    }

}

/* Pour les très petits écrans (mobiles très petits) */
@media (max-width: 470px) {
    .contact-info {
        gap: 20px;
        padding: 15px;
    }

    .contact-info > div {
        max-width: 100%;
    }

    .contact-details h2 {
        font-size: 1.4rem;
    }
}